*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgba(172, 172, 172, 0.3);
    font-family: 'Mochiy Pop One', sans-serif;
}
.contenedor{
    background-color: rgb(0, 255, 157);
    width: 90%;
    margin: 0 auto;
    max-width: 1124px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header header"
                         "nav nav nav"  
                         "contenido contenido sidebar"
                         "noticia1 noticia2 sidebar"
                         "footer footer footer";   
}
.contenedor .cabezeraPrincipal{
    grid-area: header;
    background-color: aliceblue;

}
.contenedor .menuPrincipal{
    grid-area: nav;
    background-color: aquamarine;

}
.contenedor .contenido{
    grid-area: contenido;

}
.contenedor .sidebar{
    grid-area: sidebar;
    background-color: aliceblue;
}
.contenedor .noticia1{
    grid-area: noticia1;
    background-color: #ccc ;
}
.contenedor .noticia2{
    grid-area: noticia2;
    background-color: #ccc ;

}
.contenedor .piePagina{
    grid-area: footer;
    background-color: #000 ;

}